.bounding_box {
    position: relative;
    margin:auto;
    box-sizing:border-box;
    box-shadow: 0 0 0 3px #149df2 inset;
    display:block;
    justify-content: center;
    cursor: pointer;
    z-index:2;
}